/limmat-1.3/Makefile
/limmat-1.3/config.h
/limmat-1.3/liblimmat.a
/limmat-1.3/limmat
/limmat-1.3/limmat.o

/limmat/Makefile
/limmat/config.h
/limmat/liblimmat.a
/limmat/limmat
/limmat/limmat.o

/exporting/*.aux
/exporting/*.log
/exporting/*.tex
/exporting/*.pdf
/exporting/error_log.txt

/example_requests/lib
/example_requests/*.pdf

/.vscode

/.github/workflows/data/*.png

limboole

*.o
