# Vendored libs 
dimacs2boole
testlimboole
limboole
picosat
*.o
*.a
*.so
src/**/Makefile

# Exporting formats
*.aux
*.log
*.log
*.tex1
*.pdf
*.utf8
/example_requests/lib

# Benckmarks
benchmarks/results/*
/.vscode

# Keep
!benchmarks/results/.gitkeep
