dimacs2boole
limboole
picosat
*.o
*.a
*.so
src/**/Makefile

/exporting/*.aux
/exporting/*.log
/exporting/*.tex
/exporting/*.pdf
/exporting/error_log.txt

/example_requests/lib
/example_requests/*.pdf

/.vscode

limboole
